.bg-secondary {
    background-color: #A75D5D !important;
}

.copyright {
    background-color: #6F4E37;
}

.bg-primary {
    background-color: #D3756B !important;
}

body {
    background-color: #FFF8F0;
}

nav {
    font-weight: 700;
}

.img-card {
    height: 18vw;
    object-fit: cover;
}